header {
    background-color: rgba(123,136,255,0.31);
    height: 80px;
    width: 100vw;
    display: inline-block;
    margin-top: -8px;
    margin-left: -8px;
}

.title {
    float: left;
    margin-left: 10px;
}

.nav li {
    float: right;
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 130%;
}

.entry {
    background-color: #0077B5;
    height: 50px;
    width: 100vw;
    margin-top: -19px;
    margin-left: -8px;
}

.entry form {
    margin-left: 10px;
}

.entry select {
    margin-right: -1.5vw;
}

.form-unit {
    margin-left: 0.5vw;
    margin-top: 15px;
    display: inline-block;
}

table, th, td {
    border: 1px solid black;
}

.table-head {
    text-align: left;
}

table {
    margin: 20px;
}

.entry form .form-notes {
    resize: both;
}

.btn_login{
    float: right;
}

.login-form {
    background-color: white;
    z-index: 1;
    display: inline-block;
}

.login {
    display: inline-block;
}