.form-container {
    margin-top: 10px;
}

.btn-login {
    float: right;
}

.btn-submit-hours {
    margin-top: 35px;
}

.col-ID {
    display: none;
}

.row-del-spn {
    color: black;
}

.btn-row-del {
    width: 50px;
    float: right;
}