.form-container {
    margin-top: 10px;
}

.btn-login {
    float: right;
}

.btn-submit-hours {
    margin-top: 35px;
}

.col-ID {
    display: none;
}

.row-del-spn {
    color: black;
}

.row-btn {
    width: 50px;
    float: right;
    margin: 2px;
}

.login-actions {
    height: 38px;
    position: relative;
}

.form-sign-up {
    font-size: small;
    position: absolute;
    top: 0;
    margin-left: 5%;
    margin-bottom: 1%;
    display: inline-block;

}